<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.mapper.MessageboardMapper">
<insert id="addMessageboard" parameterType="com.hzit.dao.entity.Messageboard">
    INSERT INTO messageboard VALUES (#{boardId},#{senduserId},#{receiveuserId},#{messageContext},SYSDATE(),1)
</insert>
    <update id="deleteMessageboard" parameterType="String">
        UPDATE messageboard SET isdelete=0 WHERE boardId=#{messageid}
    </update>
    <select id="searchUserinfoByParams" parameterType="Map" resultType="com.hzit.dao.vo.MessageboardVo">
        SELECT m.boardId,u.userName sendusername,m.messageContext,m.careatTime FROM userinfo u JOIN messageboard m ON u.userId=m.senduserId WHERE isdelete=1
        <if test="map.boardId!=null">
            AND m.boardId=#{map.boardId}
        </if>
        <if test="map.receiveuserId!=null">
            AND m.receiveuserId=#{map.receiveuserId}
        </if>
        <if test="statrow!=null">
        limit #{statrow},3
        </if>
    </select>
    <select id="getcount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM messageboard WHERE isdelete=1
        <if test="receiveuserId!=null">
            AND receiveuserId=#{receiveuserId}
        </if>
    </select>
</mapper>
